{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container">
  <!-- Business News  -->
  <h3>Business News Sources</h3>
  <hr>

  {{ macro.displaySourceList(sources)}}

  <!-- Technology News  -->

  <h3>Technology News Sources</h3>
  <hr>

  {{ macro.displaySourceList(technology_sources)}}

  <!-- Entertainment News  -->

  <h3>Entertainment News Sources</h3>
  <hr>

  {{ macro.displaySourceList(entertainment_sources)}}

  <!-- Sport News  -->

  <h3>Sports News Sources</h3>
  <hr>

  {{ macro.displaySourceList(sports_sources)}}

</div>


{%endblock%}